@charset "utf-8";
html *{
	outline: 0;
}
a{
	text-decoration: none;
}
body,div,li,ul{
	margin:0;
	padding:0;
}
body{
	font-size: 0.48rem;
}

body .view[name="index"]{
	background-color: #eee;
}
/*清除浮动*/
.clearfix {
	zoom:1;
}
.clearfix:after {
	display: block;
	content: '';
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
[data-ctrl-name=scrollview]{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
}
[data-direction=vertical]{
	flex-direction:column;
}
header{
	width: 100%;
	// height: 1rem;
	background-color: #fe5400;
	position: fixed;
	// top: 0;
	// left: 0px;
	z-index: 20;
}
header .header-wrap{
	padding:0.16rem 0.2rem 0.16rem 0.986667rem;
	background-size: 0.72rem 0.533333rem; 
	background-position: 0.12rem center;
	background-image:url(../img/logo.png); 
	background-repeat: no-repeat;
	width: 100%;
	// padding-right: 0.2rem;
}
header .header-wrap #search-placeholder{
	width: 89%;
	box-sizing: border-box;
	background-color: #b52600;
	text-align: center;
	border-radius: 12px;
}
header .header-wrap #search-placeholder span{
	height: 0.666667rem;
	line-height: 0.666667rem;
	font-size: 0.346667rem;
	display: inline-block;
	color: #f0e0dc;
}
.content .slide-banner img{
	width: 100%;
	height: 100%;
}
.tentrance{
	background-color: #fff;
	width: 10rem;
	height: 4.313rem;
	border-bottom: 0.048309rem solid #eee;
}
.tentrance .top{
	width: 10rem;
	height: 2.031rem;
	background-color: #fff;
}

.tentrance .box{
	width: 2rem;
	height: 2.125rem;
	margin-left: 0.2rem;
	display: inline-block;
	// position: relative;
}
.tentrance .pu{
	width: 2rem;
	height: 2.125rem;
	// position: absolute;
}
.tentrance  .pic{
	margin-top: 0.313rem;
	margin-left: 0.391rem;
	width: 1.203rem;
	height: 1.203rem;
	// position: absolute;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.tentrance  .word{
	text-align: center;
	font-size: 0.333333rem;
	color: #666;
	width: 2rem;
	height: 0.594rem;
	line-height: 0.594rem;
}
// .tentrance .top .tm{
// 	top: 0.31401rem;
// 	left: 0.797101rem;
// }
// .tentrance .top .jhs{
// 	top: 0.31401rem;
// 	left: 3.188406rem;
// }
// .tentrance .top .dj{
// 	top: 0.31401rem;
// 	left: 5.57971rem;
// }
// .tentrance .top .wm{
// 	top: 0.31401rem;
// 	left: 7.995169rem;
// }
.tentrance .buttom{
	width: 10rem;
	height: 2.031rem;
	position: relative;
}
// .tentrance .buttom .pu{
// 	width: 2rem;
// 	height: 2.125rem;
// 	position: absolute;
// }
// .tentrance .buttom .cz{
// 	top: 0.31401rem;
// 	left: 0.797101rem;
// }
// .tentrance .buttom .allx{
// 	top: 0.31401rem;
// 	left: 3.188406rem;
// }
// .tentrance .buttom .ljb{
// 	top: 0.31401rem;
// 	left: 5.57971rem;
// }
// .tentrance .buttom .fl{
// 	top: 0.31401rem;
// 	left: 7.995169rem;
// }
.toutiao2{
	width: 10rem;
	height: 0.953rem;
	background: #fff;
	position: relative;
}
.toutiao2 .img{
	display: inline-block;
	width: 2.2rem;
	height: 100%;
	background: url(../img/tbtt.png) no-repeat;
	background-size: contain;
	margin: 0.2rem 0.2rem;
}
.toutiao2 .zx{
	position: absolute;
	top: 0.241546rem;
	left: 2.415459rem;
	display: inline-block;
	// margin: 0.125rem 0.15625rem 0.125rem 0.28125rem;
	padding: 0px 0.0625rem;
    height: 0.46875rem;
    line-height: 0.46875rem;
    border: 1px solid rgb(216, 20, 33);
    border-radius: 0.125rem;
    color: rgb(216, 20, 33);
    font-size: 0.4rem;
    text-align: center;
}
.toutiao2 .xx{
	position: absolute;
	top: 0.241546rem;
	left: 3.429952rem;
	display: inline-block;
	overflow: hidden;
	width: 6rem;
	height: 0.5rem;
	line-height: 0.5rem;
	color: rgb(53, 53, 53);
	font-size: 0.4rem;
}
.gray{
	width: 10rem;
	height: 0.313rem;
	background-color: #eee;
}
.rushbuy42{
	width: 10rem;
	height: 4.797rem;
	background-color: #fff;
}
.rushbuy42 .left{
	width: 4rem;
	height: 4.813rem;
	background:url(../img/tqg.jpg) no-repeat;
	float: left;
	background-size: contain;
	// border-left: 0.024155rem solid #eee; 
}
.rushbuy42 .right{
	width: 5.984rem;
    height: 4.797rem;
    float: right;
}
.rushbuy42 .right .r-top-l{
	width: 3.516rem;
    height: 1.922rem;
    background: url(../img/yhh.png) no-repeat;
    background-size: contain;
}
.rushbuy42 .right .r-top-r{
	width: 1.922rem;
    height: 1.922rem;
    background-image: url(../img/xie.jpg);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: right;
	margin-top: -1.922rem;
}
.rushbuy42 .r-buttom .r-b-l{
	width: 2.969rem;
    height: 2.875rem;
    background-image: url(../img/agj.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.rushbuy42 .r-buttom .r-b-r{
	width: 2.969rem;
    height: 2.875rem;
    background-image: url(../img/zgzz.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    margin-top: -2.875rem;
}
.tcheap3{
	width: 10rem;
	height: 7.281rem;
	background-color: #fff;
}
.tcheap3 .csh{
	width: 10rem;
	height: 0.953rem;
	background-color: #eee;
	float: left;
}
.tcheap3 .csh .line {
    width: 3.813rem;
    height: 0.013333rem;
    background-color: #ccc;
    margin-right: 0.156rem;
    margin-left: 0.156rem;
    margin-top: 0.484rem;
    float: left;
}
.tcheap3 .csh .tb19 {
    width: 0.531rem;
    height: 0.531rem;
    background-image: url(../img/tb19.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    float: left;
    margin-top: 0.219rem;
}
.tcheap3 .csh .sh {
    text-align: center;
    font-size: 0.4rem;
    color: #FC1C07;
    margin-right: 0.047rem;
    width: 1.328rem;
    height: 0.953rem;
    line-height: 0.953rem;
    float: left;
}
.tcheap3 .csh .line1 {
    width: 3.813rem;
    height: 0.013333rem;
    background-color: #ccc;
    margin-right: 0.156rem;
    margin-top: 0.484rem;
    float: right;
}
.tcheap3 .top,.buttom{
	width: 10rem;
    height: 3.141rem;
    background-color: #fff;
}
.tcheap3 .top .fc {
    background-image: url(../img/fc.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.tcheap3 .size {
    width: 4rem;
    height: 3.141rem;
}
.v-line {
    width: 0.013333rem;
    height: 3.141rem;
    background-color: #ccc;
    box-sizing: border-box;
    float: left;
}
.line{
	width: 10rem;
	height: 0.013333rem;
	background-color: #ccc;
}
.tcheap3 .top .qq {
    background-image: url(../img/qq.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.tcheap3 .size-s {
    width: 1.984rem;
    height: 3.141rem;
}
.tcheap3 .top .cz {
    background-image: url(../img/cz.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.tcheap3 .top .jmp {
    background-image: url(../img/sb.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.tcheap3 .buttom .tj {
    background-image: url(../img/tj.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.tcheap3 .buttom .dq {
    background-image: url(../img/dq.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.tcheap3 .buttom .lrg {
    background-image: url(../img/lrg.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.tcheap3 .buttom .qc {
    background-image: url(../img/qc.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.tquality3{
	width: 10rem;
	height: 6.734rem;
}
.tquality3 .hpz{
	width: 10rem;
	height: 0.953rem;
	background-color: #eee;
}
.tquality3 .hpz .line {
    width: 3.813rem;
    margin-right: 0.156rem;
    margin-left: 0.156rem;
    margin-top: 0.484rem;
    float: left;
}
.tquality3 .hpz .tb{
    width: 0.531rem;
    height: 0.531rem;
    background-image: url(../img/hpz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    float: left;
    margin-top: 0.219rem;
}
